@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Oswald:wght@200..700&family=Poetsen+One&family=Roboto+Slab:wght@100..900&display=swap');
#hero{
    background: url(./../../images/bg1.png);
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    height: auto;
    position: relative;
    overflow: hidden;
}
.hero-container{
    margin: 100px 0px;
    margin-bottom: 0;
    position: relative;
}
.hero-left{
    display: flex;
    position: relative;
}
.hero_svg img:nth-child(1){
    width: 70px;
    position: absolute;
    top: 90px;
}
.hero_svg img:nth-child(2){
    width: 90px;
    position: absolute;
    top: 153px;
    z-index: 100

}
.hero_svg img:nth-child(3){
    width: 70px;
    position: absolute;
    top: 240px;
}
.hero-content {
    padding:40px 20px 39px 100px;;
}
.hero-content img{
    position: absolute;
    right: 50px;
    width: 10%;
}
.hero-content P{
    font-size: 2.5rem;
    color: gray;
    font-family: emoji;
}
.hero-content h2{
    font-size:  7rem; 
    font-family: oswald, serif;

}
/*  */
.hero-right{
    margin: 0;
    height: 700px;
    position: relative;
    
    overflow: hidden;
}
/* .hero_right_img img{
    position: absolute;
    bottom: 0;
    margin: 0;
    padding: 0;
} */

.hero_img{
    width: 50%;
}
.hero_img img{
    width: 80%;
} 
.her-right-img img{
    position: absolute;
    width: 106px;
    right: 50px;
    -webkit-transform: rotate(-30deg);
    -ms-transform: rotate(-30deg);
    transform: rotate(-30deg);
}
 
.hero_right_img img:nth-child(1){
    position: absolute;
    bottom: -100px;
    width: 90%;
    z-index: 1;
} 
.hero_right_img img:nth-child(2){
    position: absolute;
    bottom: -100px;
    width: 90%;
    z-index: 0;
} 
.content{
    display: flex;
    align-content: center;
    justify-content: space-between;
    font-family: emoji;
}
.title_line {
    display: flex;
    align-items: center;
    margin-top: 100px;
    color: gray     ;
}
.title_line p{
    font-size: 1rem;
}
@media (max-width: 768px) {
    
    .hero-content p{
        font-size: 2rem;
    }
    .hero-content h2{
        font-size: 4rem;
    }
    .hero-content img {
        display: none;
    }
    .title_line p{
        font-size: 16px;
    }

}
@media (max-width: 550px) {
    
    .hero-right {
        margin: 0;
        height: 450px;
    }
  
}
